<section id="contact" class="section contact dark">
            <div class="container">
                <div class="jt_row jt_row-fluid row">

                    <div class="col-md-12 jt_col column_container">
                        <h2 class="section-title">Contact</h2>
                    </div>
                    <div class="col-md-6 col-md-offset-3 jt_col column_container">
                        <div class="section-subtitle">
                           Unit 1, Chancerygate Industrial Cent, Horton Close, West Drayton UB7 8EW. United Kingdom
                        </div>
                    </div>
                        <form action="mailto:raorehanweb@gmail.com" method="post" id="contactform" class="contact-form" enctype="text/plain">
                                <div class="col-md-6 jt_col column_container">
                                    <input type="text" id="name" name="name" class="text name required" placeholder="Name" >
                                    <input type="email" id="email" name="email" class="tex email required" placeholder="Email" >
                                    <input type="text" id="subject" name="subject" placeholder="Subject" >
                                </div>

                                <div class="col-md-6 jt_col column_container">
                                     <textarea id="message" name="message" class="text area required" placeholder="Message" rows="10"></textarea>
                                </div>

                                <div class="col-md-4 col-md-offset-4 jt_col column_container">
                                <div class="formSent"><strong>Your Message Has Been Sent!</strong> Thank you for contacting us.</div>
                                <input type="submit" class="button contact center" value="Submit" >
                                </div>

                            </form>
                    <div class="voffset100"></div>
                </div>
                    <div class="voffset50"></div>
            </div>

        </section>
        <!-- END CONTACT SECTION -->





        <!-- BEGIN MAP SECTION -->
        <section id="maps">
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCPSec3-D9717YYpthx7T5vrXF_sduqOlQ"></script>
            <div class="map-content">
                <div class="wpgmappity_container inner-map" id="wpgmappitymap"></div>
            </div>
        </section>
        <!-- END MAP SECTION -->




        <!-- BEGIN FOOTER -->
        <footer id="footer" class="section" role="contentinfo">
            <div class="container">
                <ul class="social">
                    <li><a href="#" class="icon tw"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icon fb"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icon in"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" class="icon go"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </footer>
        <!-- END FOOTER -->
    <a href="#0" class="cd-top">Top</a>