 <header id="header" role="banner">
            <div class="jt_row container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                        </button>
                    <a class="navbar-brand normal logo" href="/index"><div class="logo_elixir"></div><!-- <span>american food</span> --></a>
                    <a class="navbar-brand mini" href="/index"><div class="logo_elixir dark"></div><!-- <span class="dark">american food</span> --></a>
                    <a class="navbar-brand mini darker" href="/index"><div class="logo_elixir dark"></div><!-- <span>american food</span> --></a>
                </div>

                <!-- BEGIN NAVIGATION MENU-->
                <nav class="collapse navbar-collapse navbar-right navbar-main-collapse" role="navigation">
                    <ul id="nav" class="nav navbar-nav navigation">
                        <li class="page-scroll menu-item"><a href="/index">Home</a></li>
                        <li class="page-scroll menu-item"><a href="#about">About</a></li>
                        <li class="page-scroll menu-item"><a href="/menu">Menu</a></li>
                        <li class="page-scroll menu-item"><a href="#gallery">Gallery</a></li>
                        <li class="page-scroll menu-item"><a href="#reservations">Reservations</a></li>
                        <li class="page-scroll menu-item"><a href="#contact">Location</a></li>
                    </ul>
                </nav>
                <!-- EN NAVIGATION MENU -->
                </div>
        </header>