<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='http://fonts.googleapis.com/css?family=Yellowtail%7cCabin:400,500,600,700,400italic,700italic%7cLibre+Baskerville:400italic%7cGreat+Vibes%7cOswald:400,300,700%7cOpen+Sans:600italic,700' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/font-awesome.min.css" />
 	<link rel="stylesheet" href="/public/css/elixir.css" />
    <link href="/public/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/public/js/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="/public/js/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="/public/css/YTPlayer.css" rel="stylesheet">
 	<link rel="stylesheet" href="/public/css/swipebox.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
     <style>
         .navbar-na{
             list-style: none;
         }
        .col-md-2{
            background-color: rgb(231, 226, 226);
            height:100vh;
            box-shadow:0px 0px 10px 5px black;
        }
        .img{
            margin-left: -0px;
            
        }
        .nav-item{
            box-shadow: 0px 0px 20px 2px black;
            margin: 20px;
            border-radius: 0px 10px 0px 10px;
            padding: 10px;
            font-size: 24px;
            font-weight: 700;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;
        
        }
        .nav-item:hover ,.active{
            background-color: #F9A720;
            color:cornsilk;
        }

        .nav-item a{
            color:rgb(0, 0, 0);
        }
        .nav-item a:hover ,.active{
            color:cornsilk;
        }
        .admin{
            justify-content: center;
            display: flex;
            height: 200px;
        }
        .admin h1{
            font-size: 90px;
            font-weight: 700;
            font-family:Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            color: #F73621;
        }
        .bs-example{
    	margin: 20px;
    }
    .bs-example table th{
        font-size: 24px;
        padding: 10px;
    }
    .bs-example table td{
        font-size: 24px;
        padding: 10px;
    }
        @media only screen and (max-width: 768px) {
            .img{
                margin-left: -10px;
            }
            .admin h1{
                padding-top: 40px;
                font-size: 32px;
            }
        }
    </style>
  <!-- Material Kit CSS -->
  
      
</head>
<body>
    {{{body}}}


    <script src="/public/js/modernizr.custom.js"></script>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/classie.js"></script>
    <script src="/public/js/pathLoader.js"></script>
    <script src="/public/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="/public/js/jquery.inview.js"></script>
    <script src="/public/js/jquery.nav.js"></script>
    <script src="/public/js/jquery.mb.YTPlayer.js"></script>
    <script src="/public/js/jquery.form.js"></script>
    <script src="/public/js/jquery.validate.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/default.js"></script>
    <script src="/public/js/plugins.js"></script>
    <script src="/public/js/isotope.pkgd.min.js"></script>
    <script src="/public/js/jquery.prettyPhoto.js"></script>
    <script src="/public/js/jquery.swipebox.js"></script>

<script type="text/javascript">
;( function( $ ) {

    $( '.swipebox' ).swipebox();

} )( jQuery );
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/605cdc8b067c2605c0bc4d1d/1f1lbr0mo';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>