    <style>
        section.menu {
            background: none;
        }

        #header {
            position: fixed;
            top:0px;
            left: 0px;
            z-index:1001;
            width: 100%;
            height: 90px;
            font-family: 'Open Sans', sans-serif;
            background-color: #fff!important;
            box-shadow: 0 1px 3px rgba(0,0,0,0.11);
            padding-top: 20px;
        }

        #header .menu-item a {
            color: #818181;
        }
        #header.overflow {
            top:-100px;
            left: 0px;
            background-color: #fff!important;
            box-shadow: 0 1px 3px rgba(0,0,0,0.11);
            -webkit-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            -webkit-font-smoothing: antialiased;
        }
    </style>
    
    	


       {{>_header}}







        <!-- BEGIN MENU SECTION -->
        <section id="menu" class="section menu">

            <div class="container">
                    <div class="jt_row jt_row-fluid row">

                        <div class="col-md-12 jt_col column_container">
                         <div class="voffset100"></div>
                            <div class="title first">Steaks</div>
                            <div class="voffset10"></div>
                            <div class="subtitle">Exclusive and delicious beef</div>
                            <img class="center" src="/public/images/steaks.png" alt="Steaks">

                        </div>

                        <div class="col-md-4 jt_col column_container">
                        <div class="voffset10"></div>
                            <ul class="menu">
                                <li>
                                    Filet
                                    <div class="detail">7 oz. Center Cut10 oz. Double cut<span class="price">$14.49</span></div>
                                </li>
                                <li>
                                    Boine in filet
                                    <div class="detail">10 oz Greg Norman Ranch, Australia<span class="price">$20.50</span></div>
                                </li>
                                <li>
                                    New York Strip
                                    <div class="detail">9 oz. Center Cut12 oz. Double cut  oz <span class="price">$9.99</span></div>
                                </li>
                                <li>
                                    Porterhouse
                                    <div class="detail">7 oz. Center Cut10 oz. Double cut<span class="price">$7.99</span></div>
                                </li>
                                <li>
                                    Delmonico
                                    <div class="detail">10 oz Greg Norman Ranch, Australia<span class="price">$17.99</span></div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-4 jt_col column_container">
                        <div class="voffset10"></div>
                            <ul class="menu">
                                <li>
                                    Filet
                                    <div class="detail">7 oz. Center Cut10 oz. Double cut<span class="price">$14.49</span></div>
                                </li>
                                <li>
                                    Boine in filet
                                    <div class="detail">10 oz Greg Norman Ranch, Australia<span class="price">$20.50</span></div>
                                </li>
                                <li>
                                    New York Strip
                                    <div class="detail">9 oz. Center Cut12 oz. Double cut  oz <span class="price">$9.99</span></div>
                                </li>
                                <li>
                                    Porterhouse
                                    <div class="detail">7 oz. Center Cut10 oz. Double cut<span class="price">$7.99</span></div>
                                </li>
                                <li>
                                    Delmonico
                                    <div class="detail">10 oz Greg Norman Ranch, Australia<span class="price">$17.99</span></div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 jt_col column_container">
                        <div class="voffset10"></div>
                            <ul class="menu">
                                <li>
                                    Filet
                                    <div class="detail">7 oz. Center Cut10 oz. Double cut<span class="price">$14.49</span></div>
                                </li>
                                <li>
                                    Boine in filet
                                    <div class="detail">10 oz Greg Norman Ranch, Australia<span class="price">$20.50</span></div>
                                </li>
                                <li>
                                    New York Strip
                                    <div class="detail">9 oz. Center Cut12 oz. Double cut  oz <span class="price">$9.99</span></div>
                                </li>
                                <li>
                                    Porterhouse
                                    <div class="detail">7 oz. Center Cut10 oz. Double cut<span class="price">$7.99</span></div>
                                </li>
                                <li>
                                    Delmonico
                                    <div class="detail">10 oz Greg Norman Ranch, Australia<span class="price">$17.99</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="jt_row jt_row-fluid row">
                        <div class="col-md-12 jt_col column_container">
                            <div class="title">Burgers</div>
                            <div class="voffset10"></div>
                            <div class="subtitle">Exclusive and delicious burgers</div>
                            <img class="center" src="/public/images/burgers.jpg" alt="Burgers">

                        </div>

                        <div class="col-md-4 jt_col column_container">
                        <div class="voffset30"></div>
                            <ul class="menu">
                                <li>
                                    King Burger
                                    <div class="detail">Beacon, Onion, Cheese, Fried egg<span class="price">$9.49</span></div>
                                </li>
                                <li>
                                    Mushroom Adiction
                                    <div class="detail">Swiss cheese, Mushrooms<span class="price">$8.50</span></div>
                                </li>
                                <li>
                                    Mexican Burger
                                    <div class="detail">Cheese, Jalapeños, Chilli<span class="price">$9.99</span></div>
                                </li>
                                <li>
                                    Double Cheese
                                    <div class="detail">Mozzarella, Chedar<span class="price">$7.99</span></div>
                                </li>
                                <li>
                                    Rodeo Texas
                                    <div class="detail">Onion rings, Cheese, Beacon<span class="price">$8.50</span></div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-4 jt_col column_container">
                        <div class="voffset30"></div>
                            <ul class="menu">
                                <li>
                                    King Burger
                                    <div class="detail">Beacon, Onion, Cheese, Fried egg<span class="price">$9.49</span></div>
                                </li>
                                <li>
                                    Mushroom Adiction
                                    <div class="detail">Swiss cheese, Mushrooms<span class="price">$8.50</span></div>
                                </li>
                                <li>
                                    Mexican Burger
                                    <div class="detail">Cheese, Jalapeños, Chilli<span class="price">$9.99</span></div>
                                </li>
                                <li>
                                    Double Cheese
                                    <div class="detail">Mozzarella, Chedar<span class="price">$7.99</span></div>
                                </li>
                                <li>
                                    Rodeo Texas
                                    <div class="detail">Onion rings, Cheese, Beacon<span class="price">$8.50</span></div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 jt_col column_container">
                        <div class="voffset30"></div>
                            <ul class="menu">
                                <li>
                                    King Burger
                                    <div class="detail">Beacon, Onion, Cheese, Fried egg<span class="price">$9.49</span></div>
                                </li>
                                <li>
                                    Mushroom Adiction
                                    <div class="detail">Swiss cheese, Mushrooms<span class="price">$8.50</span></div>
                                </li>
                                <li>
                                    Mexican Burger
                                    <div class="detail">Cheese, Jalapeños, Chilli<span class="price">$9.99</span></div>
                                </li>
                                <li>
                                    Double Cheese
                                    <div class="detail">Mozzarella, Chedar<span class="price">$7.99</span></div>
                                </li>
                                <li>
                                    Rodeo Texas
                                    <div class="detail">Onion rings, Cheese, Beacon<span class="price">$8.50</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="jt_row jt_row-fluid row">
                        <div class="col-md-12 jt_col column_container">
                            <div class="title">Desserts</div>
                            <div class="voffset10"></div>
                            <div class="subtitle">Exclusive and delicious desserts</div>
                            <img class="center" src="/public/images/desserts.png" alt="Desserts">

                        </div>

                        <div class="col-md-4 jt_col column_container">
                        <div class="voffset60"></div>
                            <ul class="menu">
                                <li>
                                    Creme Brulee
                                    <div class="detail">Creme Anglaise, Vanilla Bean Ice Cream <span class="price">$7.49</span></div>
                                </li>
                                <li>
                                    Warm chocolate
                                    <div class="detail">Amarena Cherries, Kirsch Cream<span class="price">$6.50</span></div>
                                </li>
                                <li>
                                    Cheese cake
                                    <div class="detail">Cheese creme, ice cream, strawberry <span class="price">$4.50</span></div>
                                </li>
                                <li>
                                    Apple Turnover
                                    <div class="detail">Creme Anglaise, Vanilla Bean Ice Cream<span class="price">$7.99</span></div>
                                </li>
                                <li>
                                    Sorbet with fruit
                                    <div class="detail">Lemon, organge, strawberry or mango<span class="price">$8.50</span></div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-4 jt_col column_container">
                        <div class="voffset60"></div>
                            <ul class="menu">
                                <li>
                                    Creme Brulee
                                    <div class="detail">Creme Anglaise, Vanilla Bean Ice Cream <span class="price">$7.49</span></div>
                                </li>
                                <li>
                                    Warm chocolate
                                    <div class="detail">Amarena Cherries, Kirsch Cream<span class="price">$6.50</span></div>
                                </li>
                                <li>
                                    Cheese cake
                                    <div class="detail">Cheese creme, ice cream, strawberry <span class="price">$4.50</span></div>
                                </li>
                                <li>
                                    Apple Turnover
                                    <div class="detail">Creme Anglaise, Vanilla Bean Ice Cream<span class="price">$7.99</span></div>
                                </li>
                                <li>
                                    Sorbet with fruit
                                    <div class="detail">Lemon, organge, strawberry or mango<span class="price">$8.50</span></div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 jt_col column_container">
                        <div class="voffset60"></div>
                            <ul class="menu">
                                <li>
                                    Creme Brulee
                                    <div class="detail">Creme Anglaise, Vanilla Bean Ice Cream <span class="price">$7.49</span></div>
                                </li>
                                <li>
                                    Warm chocolate
                                    <div class="detail">Amarena Cherries, Kirsch Cream<span class="price">$6.50</span></div>
                                </li>
                                <li>
                                    Cheese cake
                                    <div class="detail">Cheese creme, ice cream, strawberry <span class="price">$4.50</span></div>
                                </li>
                                <li>
                                    Apple Turnover
                                    <div class="detail">Creme Anglaise, Vanilla Bean Ice Cream<span class="price">$7.99</span></div>
                                </li>
                                <li>
                                    Sorbet with fruit
                                    <div class="detail">Lemon, organge, strawberry or mango<span class="price">$8.50</span></div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-4 col-md-offset-4 jt_col column_container">
                            <div class="voffset60"></div>
                            <div class="ornament"></div>
                        </div>
                    </div>
            </div>
            <div class="voffset60"></div>
        </section>
        <!-- END MENU SECTION -->
