
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-2">
                <div class="container-fluid">
                    <img class="img" src="/public/images/logo_intro.png" alt="">
                </div>
                <ul class="navbar-na">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu setting</a>
                        </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="/admin/time">Timing</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Gallery</a>
                    </li>
                     <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            
            <div class="col-12 col-md-9">
                <div class="admin">
                    <h1>ADMIN PANEL</h1>   
                </div>

               <div class="text-area col-12">
                   <!--All content here-->
                   <form action="" method="post">
                   <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                     </div>
                   </form>
               </div>
            </div>
        </div>
    </div>
    
